---
import Navigation from "./Navigation.astro";
import Hambuger from "./Hamburger.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header>
    <nav>
        <Hambuger />
        <ThemeSwitcher />
        <Navigation />
    </nav>
</header>

</header>